*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    font-size: 62.5%; /* 1 rem = 10 px */
}
body {
    background-color: #1a1924;
    font-size: 1.6rem;
    color: white;
}

body * {
    //border: 1px solid red;
    font-family: 'Roboto', sans-serif;
    color: #E1E1E6;
}

#app {
   // padding: 24px 32px;
   padding: 2.4rem 3.2rem;

    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

#top {
    display: flex; //alinha
    align-items: center; //centraliza
    justify-content: space-between; //insere o espaço entre eles
}


#user-info {
    display: flex;
    align-items: center;
    gap: 1.6 rem;
}

#user-info img {
    width: 4.8rem;
    height: 4.8rem;
    object-fit: cover;
    border-radius: 50%;
}

    #user-status .status{
        display: flex;
        align-items: baseline;
        gap: 0.4rem;

        margin-top: 0.4rem;
    }

    #user-status .status::before {
        content: " ";
        width: 0.8rem;
        height 0.8rem;
        display: block;
        color: #00B37E;
        border-radius: 50%;
    }


    #user-status .status {
        color: #00B37E
        font-size: 1.2 rem;
    }

    #last-seen {
        margin-top 2.6rem;
        font-size: 1.rem;
        line-height: 1.rem;
        text-align:center;
    }

    .messages {
        margin-top: 3rem;
        display: grid;
        gap: 3rem;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    .message .body{
       margin-top: 1rem;
       background-color: #633BBC;
       padding: 1.4rem;
       border-radius: 0 .8rem .8rem .8rem;
    }

    .message:not(.you){
        width: 60vw;
    }

    .message.you{
        margin-left: auto;
    }
    .message.you .top{
        text-align: right;
    }

    .message.you .body{
        background-color: #07847e;
        border-radius: .8rem .8rem 0 .8rem;
    }

    .input-wrapper {
        display: flex;
        align-items: center;
        background: #282843;
        border-radius: 999rem;
        padding: 1.4rem 2.4rem;
    }

    .input-wrapper input {
        flex: 1;
        outline: none;
        color: #E1E1E6;
    }

  

    .input-wrapper:focus-within {
        outline: 2px solid white;
    }

    .input-wrapper input::placeholder {
        color: #E1E1E6
        font-size: 1.2rem;
        line-height:2.4rem;
    }

    .input-wrapper button i {
        color: #E1E1E6
        font-size: 2.4rem;
    }

    input, button{
        background-color: transparent;
        border: 0;

    }